# Set

Set adalah kumpulan data yang tidak terurut yang hanya berisi item unik. Dengan kata lain, Set di Python adalah koleksi elemen (atau objek) yang tidak mengandung elemen duplikat.

Berbeda dengan List, Set di Python tidak mempertahankan urutan elemen, yaitu, Set adalah dataset yang tidak terurut. Oleh karena itu, kita tidak dapat mengakses elemen berdasarkan indeks atau melakukan operasi penyisipan menggunakan nomor indeks.

## Karakteristik Set
Set merupakan struktur data bawaan di Python dengan tiga karakteristik berikut:
- Tidak Terurut (Unordered): Item dalam set tidak terurut, berbeda dengan list. Artinya, set tidak akan mempertahankan urutan di mana item dimasukkan. Item dapat muncul dalam urutan yang berbeda setiap kali kita mengakses objek Set. Tidak ada nilai indeks yang ditetapkan untuk setiap item dalam set.
- Tidak Dapat Diubah (Unchangeable): Item dalam set harus bersifat immutable. Kita tidak dapat mengubah nilai item dalam set. Namun, kita dapat menambah atau menghapus item dari Set.
- Unik (Unique): Tidak boleh ada dua item dengan nilai yang sama dalam set. Set secara otomatis menghilangkan elemen duplikat.

## Membuat Set
Ada dua cara untuk membuat set di Python:

### Menggunakan Kurung Kurawal `{}`

Cara yang paling mudah dan langsung untuk membuat Set adalah dengan menempatkan semua item data di dalam kurung kurawal {}. Nilai-nilai individu dipisahkan dengan koma.

In [2]:
sample_set = {'Mark', 'Deepali', 25, 75.25}
print(sample_set)  # Output: {'Mark', 25, 75.25, 'Deepali'}
print(type(sample_set))  # Output: <class 'set'>

{25, 'Deepali', 75.25, 'Mark'}
<class 'set'>

### Menggunakan `set()`
kita dapat membuat set dengan memanggil konstruktor dari kelas `set`. Item yang kita berikan saat memanggil harus bersifat iterable. Kita dapat memberikan item ke konstruktor `set` di dalam tanda kurung ganda.

In [3]:
book_set = set(("Harry Potter", "Angels and Demons", "Atlas Shrugged"))
print(book_set)
print(type(book_set))

{'Atlas Shrugged', 'Angels and Demons', 'Harry Potter'}
<class 'set'>

<strong>Catatan :</strong> Seperti yang terlihat dalam contoh di atas, item dalam set dapat memiliki tipe data apa pun, seperti String, Integer, Float, atau Boolean. Ini membuat Set bersifat heterogen, yaitu item dari tipe yang berbeda dapat disimpan dalam satu set. Selain itu, output menunjukkan bahwa semua elemen tidak terurut.

### Membuat Set dengan Elemen Mutable
Anda akan mendapatkan kesalahan jika mencoba membuat set dengan elemen data collection mutable seperti list atau dictionary. Ini karena elemen dalam set harus bersifat hashable, dan list serta dictionary adalah tipe data yang mutable sehingga tidak dapat di-hash.

In [4]:
# Mencoba membuat set dengan tipe mutable
sample_set = {'Mark', 'Deepali', [35, 78, 92]}
print(sample_set)

TypeError: unhashable type: 'list'

Dalam contoh di atas, kita mencoba membuat set yang berisi string dan list. Ketika kita mencoba untuk mencetak `sample_set`, Python menghasilkan kesalahan `TypeError` karena list `[35, 78, 92]` adalah tipe mutable dan tidak dapat digunakan sebagai elemen dalam set.

## Mengakses Item dalam Set
Item dalam set tidak terurut dan tidak memiliki nomor indeks, sehingga kita tidak dapat mengakses elemen menggunakan indeks seperti pada list atau tuple. Untuk mengakses item dalam set, kita perlu melakukan iterasi melalui objek set menggunakan loop for.

In [1]:
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}

for book in book_set:
    print(book)

Harry Potter
Angels and Demons
Atlas Shrugged

Dalam contoh di atas, kita mendeklarasikan `book_set`, yang berisi beberapa judul buku. Dengan menggunakan `loop for`, kita dapat mengiterasi setiap elemen dalam `book_set` dan mencetaknya satu per satu.
Karena set bersifat tidak terurut, urutan output dapat bervariasi setiap kali menjalankan program.

## Memeriksa Apakah Item Ada dalam Set
Set adalah koleksi yang tidak terurut, sehingga kita tidak dapat menemukan item menggunakan nilai indeks. Untuk memeriksa apakah suatu item ada dalam set, kita dapat menggunakan operator `in`

Operator `in` memeriksa apakah item ada dalam set dan mengembalikan True jika item tersebut ada, dan False jika tidak.

In [2]:
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}

# Memeriksa apakah 'Harry Potter' ada dalam book_set
if 'Harry Potter' in book_set:
    print("Book exists in the book set")
else:
    print("Book doesn't exist in the book set")

# Memeriksa item lain yang tidak ada dalam set
print("A Man called Ove" in book_set)  # Output: False

Book exists in the book set
False

Dalam contoh di atas, kita memeriksa apakah 'Harry Potter' ada dalam `book_set`. Karena item tersebut ada, kita mendapatkan output "Book exists in the book set". Selanjutnya, kita memeriksa apakah 'A Man called Ove' ada dalam book_set. Karena item tersebut tidak ada, hasilnya adalah False

## Memeriksa Panjang Set

Untuk menemukan panjang (jumlah elemen) dari sebuah set, kita dapat menggunakan fungsi `len()`

In [ ]:
# Membuat set menggunakan kurung kurawal
book_set = {"Harry Potter", "Angels and Demons", "Atlas Shrugged"}

# Menghitung panjang set
print(len(book_set))  # Output: 3

## Menambahkan Item ke Set
Meskipun nilai item dalam set tidak dapat diubah, kita dapat menambahkan item baru ke set menggunakan dua cara berikut:

- Metode `add()`: Metode ini digunakan untuk menambahkan satu item ke set.
- Metode `update()`: Metode ini digunakan untuk menambahkan beberapa item ke set sekaligus. Kita perlu memberikan daftar item yang ingin ditambahkan ke metode update().

In [3]:
# Membuat set awal
book_set = {'Harry Potter', 'Angels and Demons'}

# Menggunakan metode add() untuk menambahkan satu item
book_set.add('The God of Small Things')
# Menampilkan set yang diperbarui
print(book_set)

# Menggunakan metode update() untuk menambahkan lebih dari satu item
book_set.update(['Atlas Shrugged', 'Ulysses'])
# Menampilkan set yang diperbarui
print(book_set)

{'Angels and Demons', 'Harry Potter', 'The God of Small Things'}
{'Ulysses', 'Harry Potter', 'Angels and Demons', 'Atlas Shrugged', 'The God of Small Things'}

## Menghapus Item dari Set

Kita dapat menghapus item pada set menggunakan `remove()`, `discard()`, `pop()` `clear()`, `del`
- `remove()`: Metode ini digunakan untuk menghapus item tertentu dari set. Jika item yang ingin dihapus tidak ada dalam set, metode ini akan menimbulkan KeyError.
- `discard()`: Metode ini juga digunakan untuk menghapus item, tetapi tidak menimbulkan error jika item yang ingin dihapus tidak ada dalam set.
- `clear()`: Metode ini menghapus semua item dari set, sehingga menjadikannya set kosong.
- `del`: Keyword ini menghapus set secara keseluruhan.

In [ ]:
color_set = {'red', 'orange', 'yellow', 'white', 'black'}

# remove single item
color_set.remove('yellow')
print(color_set)

# remove single item from a set without raising an error
color_set.discard('white')
print(color_set)

# remove any random item from a set
deleted_item = color_set.pop()
print(deleted_item)

# remove all items
color_set.clear()
print(color_set)

# delete a set
del color_set

### `remove()` dan `discard()`

- metode `remove()` akan mengembalikan `keyerror` jika item yang ingin dihapus tidak ada pada set
- metode `discard()` tidak akan mengambilkan `keyerror` jika item yang dihapus tidak ada pada set

In [ ]:
color_set = {'red', 'orange', 'white', 'black'}

# remove single item using discard()
color_set.discard('yellow')
print(color_set)

# remove single item using remove()
color_set.remove('yellow')
print(color_set)
# Output KeyError: 'yellow'

## Sorted Set
Set adalah koleksi data yang tidak terurut, sehingga tidak ada gunanya mengurutkannya secara langsung. Namun, jika ingin mengurutkan elemen dalam set, kita dapat menggunakan fungsi `sorted()`. Fungsi ini akan mengembalikan sebuah list yang berisi elemen-elemen set yang sudah diurutkan, tetapi tidak akan memperbarui set asli.

In [4]:
set1 = {20, 4, 6, 10, 8, 15}

# Menggunakan sorted() untuk mengurutkan set
sorted_list = sorted(set1)
print(type(sorted_list))

# Mengonversi kembali list yang terurut menjadi set
sorted_set = set(sorted_list)

print(sorted_set)  # Output: {4, 6, 8, 10, 15, 20}
print(type(sorted_set))  # Output: <class 'set'>

<class 'list'>
{4, 6, 8, 10, 15, 20}
<class 'set'>

## Menggunakan Fungsi Bawaan Python untuk Set

Selain metode bawaan yang khusus tersedia untuk set, ada beberapa fungsi bawaan Python yang umum yang dapat digunakan dengan set. Mari kita lihat bagaimana kita bisa menggunakan beberapa dari fungsi ini dengan contoh.

### `all()` dan `any()`
- all(): Mengembalikan True hanya jika semua item dalam set adalah True. Jika ada satu nilai 0 (dalam set integer) atau satu nilai False, maka fungsi ini akan mengembalikan False.
- any(): Mengembalikan True jika ada item dalam set yang True. Ini akan mengembalikan False jika semua item adalah False.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {0, 2, 4, 6, 8}  # Set dengan satu nilai false '0'
set3 = {True, True}  # Set dengan semua true
set4 = {True, False}  # Set dengan satu false
set5 = {False, 0}  # Set dengan kedua nilai false

# Memeriksa semua nilai true
print('all() With all true values:', all(set1))  # Output: True
print('any() with all true values:', any(set1))  # Output: True

# Memeriksa set dengan satu nilai false
print('all() with one Zero:', all(set2))  # Output: False
print('any() with one Zero:', any(set2))  # Output: True

# Memeriksa set dengan semua nilai true
print('all() with all True values:', all(set3))  # Output: True
print('any() with all True values:', any(set3))  # Output: True

# Memeriksa set dengan satu nilai false
print('all() with one False value:', all(set4))  # Output: False
print('any() with one False:', any(set4))  # Output: True

# Memeriksa set dengan semua nilai false
print('all() with all False values:', all(set5))  # Output: False
print('any() with all False values:', any(set5))  # Output: False

## Fungsi `max()` dan `min()`
- `max()`: Mengembalikan item dengan nilai maksimum dalam set.
- `min()`: Mengembalikan item dengan nilai minimum dalam set.

Dalam kasus set dengan string, fungsi ini akan menghitung nilai maksimum/minimum berdasarkan kode ASCII.

In [ ]:
set1 = {2, 4, 6, 10, 8, 15}
set2 = {'ABC', 'abc'}

# Item maksimum dari set integer
print(max(set1))  # Output: 15

# Item maksimum dari set string
print(max(set2))  # Output: abc

# Item minimum dari set integer
print(min(set1))  # Output: 2

# Item minimum dari set string
print(min(set2))  # Output: ABC
set1 = {2, 4, 6, 10, 8, 15}
set2 = {'ABC', 'abc'}

# Item maksimum dari set integer
print(max(set1))  # Output: 15

# Item maksimum dari set string
print(max(set2))  # Output: abc

# Item minimum dari set integer
print(min(set1))  # Output: 2

# Item minimum dari set string
print(min(set2))  # Output: ABC