# File Handling atau File Operation


Membaca dan menulis file adalah teknik dasar yang sangat penting dalam pemrograman Python, terutama karena banyak digunakan untuk pengolahan dan pemrosesan data yang disimpan dalam file. Pemahaman ini membuka jalan untuk membuat aplikasi yang dapat mengambil, menyimpan, dan memproses data secara lebih fleksibel.


### Pentingnya Membaca dan Menulis File
- Menyimpan Data: Memungkinkan aplikasi untuk menyimpan data secara permanen, bahkan setelah program dihentikan.
- Interoperabilitas: Membaca dan menulis file membantu dalam mengelola data yang diterima atau dikirim ke format seperti JSON, XML, CSV, atau bahkan file biner.
- Pengolahan Data: Memahami cara membaca dan menulis file membuka pintu untuk manipulasi data yang lebih kompleks, seperti parsing file teks atau memproses file media.

## Tipe File di Python
Di Python, file dikategorikan menjadi dua tipe utama:

1. File Teks
  - File yang berisi teks yang dapat dibaca manusia.
  - Setiap baris teks memiliki tanda End of Line (EOL), biasanya berupa karakter newline (\n).
  - Contoh file teks: .txt, .csv, .json, .md.

2.  File Biner
  - File yang berisi data dalam format biner yang hanya bisa diproses oleh program tertentu.
  - Tidak dapat dibaca secara langsung oleh manusia tanpa di-decode.
  - Contoh file biner: .exe, .jpg, .mkv, .zip.

## Cara Membaca File di Python
Python sudah menyediakan fungsi `open()` untuk membaca dan menulis file.

Fungsi ini memiliki dua parameter, yaitu nama file dan mode.

![fungsi-open.png]()

Objek file adalah variabel objek yang menampung isi file. Kita bisa melakukan pemrosesan file berkatnya.

Nama file bisa kita isi langsung apabila file-nya terletak dalam satu direktori dengan skrip python. Namun, apabila terletak di direktori yang berbeda, maka kita harus memberikan alamat path file-nya.

Misalnya seperti ini:

``` obj_file = open('data/filename.csv', mode) ``` <br>
Kemudian untuk parameter mode berfungsi untuk menentukan hak akses terhadap file.

Ada beberapa mode yang tersedia:

| Mode | Keterangan |
| --- | --- |
| "r" |	hanya baca saja |
| “w” |	akses untuk menulis file, jika file sudah ada, maka file akan di replace dan diganti dengan yang baru ditulis |
| "a"	| digunakan untuk append atau menambah data ke file, artinya jika sudah ada data dalam file, maka akan ditambahkan dan tidak di-replace |
| "r+" |	digunakan untuk membaca sekaligus menulis data ke file |
| "x" | Membuat spesifik file, dan mengembalikan error jika file sudah ada |

## Membaca Sebuah File

Di Python, mode default untuk membuka file adalah membaca. Oleh karena itu, kita tidak perlu secara eksplisit menentukan mode 'r' atau 'r+' untuk membaca file teks.

Berikut adalah contoh langkah demi langkah cara membaca file menggunakan berbagai metode.

### Membuka File dan Informasi File

Ketika kita membuka file menggunakan fungsi `open()`, Python akan mengembalikan objek file. kita dapat mencetak objek ini untuk melihat informasi seperti nama file, mode, dan encoding.

In [ ]:
f = open('./files/reading_file_example.txt')
print(f)
# Output: <_io.TextIOWrapper name='./files/reading_file_example.txt' mode='r' encoding='UTF-8'>

<_io.TextIOWrapper name='./files/reading_file_example.txt' mode='r' encoding='UTF-8'>

### Metode Membaca File
Berikut adalah metode utama yang digunakan untuk membaca file:

#### 1. read()
Membaca seluruh teks file sebagai string. Anda juga dapat membatasi jumlah karakter yang ingin dibaca dengan melewatkan angka ke read(number).

Contoh: Membaca Seluruh Isi File

In [ ]:
f = open('./files/reading_file_example.txt')
txt = f.read()
print(type(txt))  # Output: <class 'str'>
print(txt)
f.close()

<class 'str'>
Nama Saya Mahdy
Sekarang Tinggal di Surabaya
Kelahiran kota palangkaraya, kalimantan tengah

Contoh: Membaca 10 Karakter Pertama

In [ ]:
f = open('./files/reading_file_example.txt')
txt = f.read(10)
print(type(txt))  # Output: <class 'str'>
print(txt)        # Output: This is an
f.close()

<class 'str'>
Nama Saya

#### 2. readline()
Membaca hanya satu baris pertama dari file.

Contoh:

In [ ]:
f = open('./files/reading_file_example.txt')
line = f.readline()
print(type(line))  # Output: <class 'str'>
print(line)        # Output: This is an example to show how to open a file and read.
f.close()

<class 'str'>
Nama Saya Mahdy

#### 3. readlines()
Membaca semua baris dari file dan mengembalikannya sebagai list. Setiap elemen list adalah satu baris teks.

Contoh:

In [ ]:
f = open('./files/reading_file_example.txt')
lines = f.readlines()
print(type(lines))  # Output: <class 'list'>
print(lines)        # Output: ['This is an example to show how to open a file and read.\n', 'This is the second line of the text.']
f.close()

<class 'list'>
['Nama Saya Mahdy\n', 'Sekarang Tinggal di Surabaya\n', 'Kelahiran kota palangkaraya, kalimantan tengah']

#### 4. splitlines()
Mengembalikan semua baris teks sebagai list, tetapi tanpa karakter newline (\n).

In [ ]:
f = open('./files/reading_file_example.txt')
lines = f.read().splitlines()
print(type(lines))  # Output: <class 'list'>
print(lines)        # Output: ['This is an example to show how to open a file and read.', 'This is the second line of the text.']
f.close()

<class 'list'>
['Nama Saya Mahdy', 'Sekarang Tinggal di Surabaya', 'Kelahiran kota palangkaraya, kalimantan tengah']

### Menggunakan `with` untuk Membuka File
Salah satu kelemahan menggunakan metode tradisional adalah risiko lupa menutup file dengan `f.close()`. Untuk mengatasi ini, Python menyediakan cara yang lebih baik menggunakan `with`. Ketika menggunakan `with`, file akan otomatis ditutup setelah selesai digunakan.

Contoh: Membaca File dengan with

In [ ]:
with open('./files/reading_file_example.txt') as f:
    lines = f.read()
    print(type(lines))  # Output: <class 'list'>
    print(lines)        # Output: ['This is an example to show how to open a file and read.', 'This is the second line of the text.']

<class 'str'>
Nama Saya Mahdy
Sekarang Tinggal di Surabaya
Kelahiran kota palangkaraya, kalimantan tengah

## Membuka File untuk Menulis dan Memperbarui
Untuk menulis ke file yang sudah ada atau membuat file baru, kita dapat menentukan mode sebagai parameter untuk fungsi `open()` Mode yang sering digunakan untuk menulis dan memperbarui file adalah:

- "a" (append):
  - Menambahkan teks di akhir file tanpa menghapus konten yang sudah ada.
  - Jika file belum ada, file baru akan dibuat.
- "w" (write):
  - Menimpa (overwrite) konten yang sudah ada di file.
  - Jika file belum ada, file baru akan dibuat.

### Menambahkan Teks ke File (Mode "a")
Mode "a" digunakan untuk menambahkan teks di akhir file. Ini tidak akan menghapus konten file yang sudah ada.

In [ ]:
# Menambahkan teks ke file
with open('./files/reading_file_example.txt', 'a') as f:
    f.write('\nThis text has to be appended at the end')

Setelah kode ini dijalankan, file reading_file_example.txt akan memiliki teks baru yang ditambahkan di akhir file.

### Menulis ke File Baru atau Menimpa File (Mode "w")
Mode "w" digunakan untuk menulis ke file. Jika file sudah ada, kontennya akan ditimpa. Jika file belum ada, file baru akan dibuat.

In [ ]:
# Menulis teks ke file baru
with open('./files/writing_file_example.txt', 'w') as f:
    f.write('This text will be written in a newly created file')

Jika file writing_file_example.txt belum ada, file baru akan dibuat, dan teks akan ditulis ke dalamnya.

## Menghapus File di Python
Untuk menghapus file, Python menyediakan fungsi `os.remove()` dari modul os. Fungsi ini digunakan untuk menghapus file tertentu yang sudah ada. Gunakan fungsi os.remove() untuk menghapus file dengan path yang ditentukan.
Contoh Kode:

In [ ]:
import os

# Menghapus file
os.remove('./files/writing_file_example.txt')

FileNotFoundError: [Errno 2] No such file or directory: './files/writing_file_example.txt'

### Menangani Error jika File Tidak Ada
Jika file tidak ada, metode `os.remove()` akan memunculkan error FileNotFoundError. Oleh karena itu, sebaiknya gunakan pengecekan dengan `os.path.exists()` sebelum mencoba menghapus file.

In [ ]:
import os

file_path = './files/example.txt'

# Mengecek apakah file ada sebelum menghapusnya
if os.path.exists(file_path):
    os.remove(file_path)
    print(f"{file_path} has been deleted.")
else:
    print(f"The file {file_path} does not exist.")

./files/example.txt has been deleted.

## Tipe File
Di Python, file dapat dibedakan berdasarkan ekstensi yang digunakan. Berikut adalah beberapa tipe file umum yang sering digunakan:

### File dengan Ekstensi .txt
File teks adalah salah satu format file paling sederhana dan umum digunakan. Kita telah membahas cara membaca dan menulis file .txt pada bagian sebelumnya. File ini berisi data dalam bentuk teks biasa.

### File dengan Ekstensi .json
JSON adalah singkatan dari JavaScript Object Notation. JSON adalah representasi string dari objek JavaScript atau dictionary Python. JSON sering digunakan untuk menyimpan dan bertukar data antar sistem karena mudah dibaca oleh manusia dan mesin.

#### Contoh Representasi JSON:
Dictionary Python:

In [ ]:
# Dictionary Python
person_dct = {
    "name": "Mahdy",
    "country": "Indonesia",
    "city": "Surabaya",
    "skills": ["JavaScript", "PHP", "Python"]
}

JSON (string)

In [ ]:
# JSON: Representasi string dari dictionary
person_json = '{"name": "Mahdy", "country": "Indonesia", "city": "Surabaya", "skills": ["JavaScript", "PHP", "Python"]}'

JSON dengan Format Lebih Rapi:

In [ ]:
# JSON dalam format multi-baris untuk meningkatkan keterbacaan
person_json = '''{
    "name": "Mahdy",
    "country": "Indonesia",
    "city": "Surabaya",
    "skills": ["JavaScript", "PHP", "Python"]
}'''

## Konversi Antara Dictionary Python dan JSON
Python memiliki modul bawaan bernama json untuk menangani file JSON. Anda dapat dengan mudah mengonversi antara dictionary Python dan JSON.

### Dari Dictionary Python ke JSON
Gunakan metode `json.dumps()` untuk mengubah dictionary Python menjadi string JSON.

In [ ]:
import json

person_dct = {
    "name": "Mahdy",
    "country": "Indonesia",
    "city": "Surabaya",
    "skills": ["JavaScript", "PHP", "Python"]
}

# Mengonversi dictionary ke JSON
person_json = json.dumps(person_dct, indent=4)
print(type(person_dct))
print(person_json)
print(type(person_json))

<class 'dict'>
{
    "name": "Mahdy",
    "country": "Indonesia",
    "city": "Surabaya",
    "skills": [
        "JavaScript",
        "PHP",
        "Python"
    ]
}
<class 'str'>

### Dari JSON ke Dictionary Python
Gunakan metode `json.loads()` untuk mengubah string JSON menjadi dictionary Python.

In [ ]:
import json

person_json = '''{
    "name": "Mahdy",
    "country": "Indonesia",
    "city": "Surabaya",
    "skills": ["JavaScript", "PHP", "Python"]
}'''

# Mengonversi JSON ke dictionary Python
print(type(person_json))
person_dct = json.loads(person_json)

print(person_dct)
print(type(person_dct))

<class 'str'>
{'name': 'Mahdy', 'country': 'Indonesia', 'city': 'Surabaya', 'skills': ['JavaScript', 'PHP', 'Python']}
<class 'dict'>

## Menulis ke File JSON:

In [ ]:
import json

person_dct = {
    "name": "Mahdy",
    "country": "Indonesia",
    "city": "Surabaya",
    "skills": ["JavaScript", "PHP", "Python"]
}


# Menulis dictionary ke file JSON
with open('person.json', 'w') as file:
    json.dump(person_dct, file)

## Membaca File JSON

In [ ]:
import json

# Membaca file JSON dan mengonversinya ke dictionary
with open('person.json', 'r') as file:
    person_dct = json.load(file)

print(person_dct)

{'name': 'Mahdy', 'country': 'Indonesia', 'city': 'Surabaya', 'skills': ['JavaScript', 'PHP', 'Python']}

## File dengan Ekstensi .csv
CSV (Comma-Separated Values) adalah format file sederhana yang digunakan untuk menyimpan data dalam bentuk tabular, seperti spreadsheet atau database. File CSV sering digunakan dalam ilmu data karena formatnya yang mudah dibaca dan diproses oleh manusia maupun mesin.

#### Contoh Isi File CSV
File CSV:
```
"name","country","city","skills"
"Mahdy","Indonesia","Surabaya","JavaScript"
```
File ini berisi data tabular dengan kolom name, country, city, dan skills.

### Membaca File CSV di Python
Python menyediakan modul csv bawaan untuk membaca dan menulis file CSV.

In [ ]:
import csv

with open('./files/dataset.csv') as f:
    csv_reader = csv.reader(f, delimiter='|')  # Menggunakan reader untuk membaca CSV

    for row in csv_reader:
        print(row)

['name', 'country', 'city', 'skills']
['Mahdy', 'Indonesia', 'Surabaya', 'Python']
['Bagas', 'Indonesia', 'Palangkaraya', 'Javascript']
['Benni', 'Indonesia', 'Banjarmasin', 'PHP']

### Menulis File CSV di Python
Kita juga dapat menulis file CSV menggunakan `csv.writer`

In [ ]:
import csv

# Data yang akan ditulis
data = [
    ["name", "country", "city", "skills"],
    ["Mahdy", "Indonesia", "Surabaya", "JavaScript"],
    ["Bagas", "Indonesia", "Palangkaraya", "Python"]
]

# Menulis data ke file CSV
with open('./files/csv_output.csv', 'w') as f:
    csv_writer = csv.writer(f)
    csv_writer.writerows(data)

In [ ]:
import pandas

df_data = pandas.read_csv('./files/csv_output.csv')
df_data

    name    country          city      skills
0  Mahdy  Indonesia      Surabaya  JavaScript
1  Bagas  Indonesia  Palangkaraya      Python

## File dengan Ekstensi .xlsx
Untuk membaca file Excel dengan ekstensi .xls atau .xlsx, kita memerlukan library eksternal seperti xlrd

In [ ]:
import xlrd

# Membuka file Excel
excel_book = xlrd.open_workbook('example.xls')

# Menampilkan jumlah sheet dalam file
print("Jumlah sheet:", excel_book.nsheets)

# Menampilkan nama-nama sheet
print("Nama sheet:", excel_book.sheet_names())

# Membaca data dari sheet pertama
sheet = excel_book.sheet_by_index(0)

# Menampilkan jumlah baris dan kolom
print("Jumlah baris:", sheet.nrows)
print("Jumlah kolom:", sheet.ncols)

# Menampilkan nilai dari sel tertentu (baris 1, kolom 1)
print("Nilai sel (0, 0):", sheet.cell_value(0, 0))

XLRDError: Excel xlsx file; not supported