# Variabel

Variabel merupakan nama yang dibuat untuk mewakili "sesuatu" dalam program.

Sebagai contoh, kita ingin menyimpan gaji seseorang karyawan. Dalam kasus seperti itu,  kita dapat membuat variabel dan menyimpan gaji menggunakan variabel tersebut. Dengan menggunakan nama variabel tersebut, Anda dapat membaca atau memodifikasi jumlah gaji. Dengan kata lain, variabel adalah nilai yang berubah sesuai dengan kondisi atau input yang diberikan ke program.

Sebuah variabel bisa bersifat mutable atau immutable. Jika nilai variabel dapat berubah, objek tersebut disebut mutable, sementara jika nilai tidak dapat berubah, objek tersebut disebut immutable.

### Definisi Variable

Variabel pada python bersifat dinamis, sehingga kita tidak perlu mendeklarasikan variable sebelum menggunakannya atau mendeklarasikan tipe data variable seperti pada bahasa pemrograman lainnya. Tipe data pada variabel secara otomatis diatur saat kita memberikan nilai pada variabel.

Kita dapat memberikan nilai pada variabel saat variabel tersebut dibuat. Kita dapat menggunakan operator <code>=</code> untuk memberikan nilai pada variabel.

<div class="alert alert-success">
Dalam pemrograman, variabel didefinisikan dengan format <code>nama = nilai</code>.
</div>

In [ ]:
int my_int = 27 # Declare an integer variable in Java

In [1]:
my_int = 27

a_float = 3.14159

### Tanda <code>=</code> pada pemrograman tidak sama seperti yang ada pada matematika

Dalam matematika, tanda <code>=</code> menunjukkan persamaan.

Dalam pemrograman, tanda <code>=</code> menunjukkan ditetapkannya nilai, sedangkan tanda <code>==</code> digunakan untuk persamaan.

Ketika membaca kode seperti <code>x = 3</code>, itu menandakan bahwa "kita menetapkan nilai 3 ke variable x"

Dalam matematika, misalnya persamaan $y = 10x + 2$ menunjukkan persamaan linear.

Dalam kode, ketika ada <code>x = x + 1</code>, artinya nilai variabel </code>x</code> diubah dengan menambahkan 1 pada nilai sebelumnya

Jadi, meskipun tanda <code>=</code> terlihat sama, dalam pemrograman dan matematika, penggunaannya sangat berbeda.

In [22]:
x = 5
x = x + 1
x

6

### Pertanyaan #1

Setelah menjalankan kode berikut, apa nilai yang ada di `my_int`?

In [23]:
my_int = 5

my_int = my_int + 3

print(my_int)

8

- A) 5
- B) 8
- C) "my_int + 3"
- D) Kode akan error

### Pertanyaan #2

Setelah kode di atas dijalankan, apa nilai yang ada di `my_var`?

In [24]:
my_var = my_int - my_variabel

NameError: name 'my_variabel' is not defined

- A) 4
- B) 9
- C) "my_variable - my_var"
- D) Kode akan error

### Deklarasi Variabel

- Nama variabel akan selalu berada dikiri `, sedangkan nilai akan selalu berada dikanan 
- Nama variable bersifat case sensitif, yang berarti `myvar` dan `myVar` merupakan variable yangg berbeda
- Variable harus dimulai dengan huruf (atau underscore)
    - Setelah itu, kita bisa menambahkan angka
    - Kita tidak dapat memasukkan karakter spesial (seperti &, *, #, dan lainnya)
- Python tidak mempermasalahkan nama variabel yang dibuat, tetapi kita sebagai pembuat kode harus memperhatikannya, pilihlah nama yang menggambarkan nilai yang disimpan pada variabel.

### Kata Kunci Variabel yang tidak boleh digunakan

Ada 33 kata yang tidak diperbolehkan untuk digunakan sebagai nama variabel dalam Python.

<table type="text/css">
  <tr>
      <td><code>False</code></td>
      <td><code>None</code></td>
      <td><code>True</code></td>
      <td><code>and</code></td>
      <td><code>as</code></td>
      <td><code>assert</code></td>
      <td><code>break</code></td>
  </tr>
  <tr>
      <td><code>class</code></td>
      <td><code>continue</code></td>
      <td><code>def</code></td>
      <td><code>del</code></td>
      <td><code>elif</code></td>
      <td><code>else</code></td>
      <td><code>except</code></td>
  </tr>
  <tr>
      <td><code>finally</code></td>
      <td><code>for</code></td>
      <td><code>from</code></td>
      <td><code>global</code></td>
      <td><code>if</code></td>
      <td><code>import</code></td>
      <td><code>in</code></td>
  </tr>
  <tr>
      <td><code>is</code></td>
      <td><code>lambda</code></td>
      <td><code>nonlocal</code></td>
      <td><code>not</code></td>
      <td><code>or</code></td>
      <td><code>pass</code></td>
      <td><code>raise</code></td>
  </tr>    
  <tr>
      <td><code>return</code></td>
      <td><code>try</code></td>
      <td><code>while</code></td>
      <td><code>with</code></td>
      <td><code>yield</code></td>
  </tr>    
</table>

### Gaya penulisan variabel

Gaya penulisan variabel kode tidak mempengaruhi cara kerja program, tetapi mempengaruhi kemudahan membaca kode.

Jadi biasakan gaya penulisan variabel yang baik dan benar.

Gaya penulisan variabel yang umum digunakan adalah:
- Gunakan satu spasi di sekitar `=` variabel saat memberikan nilai.
- Gunakan `snake_case` untuk nama variabel yang memiliki dua kata atau lebih (semua huruf kecil, dengan underscore di antara kata)
- Gunakan nama variabel yang informatif... sesuatu yang memberitahu kita sedikit tentang apa yang disimpan pada variabel tersebut.

- Idealnya variabel didefinisikan sebagai berikut `my_int = 3`
- Hindari penggunaan seperti `myInt=1`

In [ ]:
my_var = 5

myvar=1

### Merubah nilai yang ada pada variabel

Banyak bahasa pemrograman yang variabelnya bersifat statis di mana variabelnya dideklarasikan dengan tipe tertentu, maka selama program tersebut dijalankan, variabel tersebut harus selalu bersifat tipe tersebut.

Namun, dalam Python, variabel bersifat dinamis dan tidak terikat pada tipe data. Variabel dapat diberikan nilai dengan suatu tipe, kemudian dapat diubah dengan nilai yang memiliki tipe berbeda setelahnya

In [30]:
my_int = 10
print(my_int)

my_int = 5
print(my_int)

10
5

In [31]:
my_var = 10
print(my_var)

my_var = "Koas Pertemuan 1"
print(my_var)

10
Koas Pertemuan 1

# Tipe Data

Python memiliki beberapa tipe data bawaan seperti **integer**, **float**, **string** , **boolean**, **list**, **array**, **set**,
**dictionary**, **tuple**, dll

### Integer

Tipe data int adalah tipe data yang nilai dalam bentuk bilangan bulat.

In [32]:
my_int = 5
print(my_int)
print(type(my_int))

5
<class 'int'>

Note : Untuk memeriksa tipe data variabel, kita bisa menggunakan `type(name_variable)`

### Float

Float adalah tipe data yang nilainya dalam bentuk bilangan desimal.

In [33]:
my_float = 3.14159
print(my_float)
print(type(my_float))

3.14159
<class 'float'>

### String

Dalam Python, string adalah sekumpulan karakter yang diwakili dalam tanda kutip. Untuk mendefinisikan string dapat menggunakan pasangan tanda kutip tunggal `'` atau tanda kutip ganda `"`.

In [34]:
my_string = "Hello, World!"

print(my_string)
print(type(my_string))

Hello, World!
<class 'str'>

In [35]:
my_string = 'Hello, World!'

print(my_string)
print(type(my_string))

Hello, World!
<class 'str'>

### Boolean
Boolean adalah tipe data yang hanya memiliki dua nilai, yaitu True dan False.

In [36]:
my_boolean = True
print(my_boolean)
print(type(my_boolean))

True
<class 'bool'>

### List, Tuple, Set, Dictionary

Ini merupakan tipe data yang digunakan untuk menyimpan sekumpulan item. Tipe data ini dapat menyimpan berbagai macam tipe data lainnya.

In [37]:
my_list = ['Bahasa Pemrograman', 2, 3.14, 'Python']
print(my_list)
print(type(my_list))

my_tuple = ('Bahasa Pemrograman', 2, 3.14, 'Python')
print(my_tuple)
print(type(my_tuple))

my_dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print(my_dict)
print(type(my_dict))

my_set = {'Bahasa Pemrograman', 2, 3.14, 'Python'}
print(my_set)
print(type(my_set))

['Bahasa Pemrograman', 2, 3.14, 'Python']
<class 'list'>
('Bahasa Pemrograman', 2, 3.14, 'Python')
<class 'tuple'>
{'Name': 'Zara', 'Age': 7, 'Class': 'First'}
<class 'dict'>
{'Bahasa Pemrograman', 2, 3.14, 'Python'}
<class 'set'>

### Pertanyaan #3
Setelah menjalankan kode berikut, tipe data apa yang ada pada `var_a`?

In [38]:
var_a = -15.5
type(var_a)

float

- A) String
- B) Int
- C) Float
- D) Boolean
- E) None

### Pertanyaan #4
Setelah menjalan kode berikut, tipe data apa yang ada pada `var_b`?

In [39]:
var_b = '-15.5'
type(var_b)

str

- A) String
- B) Int
- C) Float
- D) Boolean
- E) None

### Pertanyaan #5

Setelah menjalan kode berikut, tipe data apa yang ada pada `m`?

In [40]:
n = 1
a = 'm'
m = n
type(m)

int

- A) String
- B) Int
- C) Float
- D) Boolean
- E) None

### Pertanyaan #6
Setelah menjalan kode berikut, tipe data apa yang ada pada `m`?

In [42]:
m = 1
a = m
m = 'a'
type(m)

str

## Operator

Operator adalah simbol khusus yang melakukan operasi tertentu pada satu atau lebih operand (nilai) dan kemudian mengembalikan hasil. Sebagai contoh, kita dapat menghitung jumlah dari dua angka menggunakan operator penjumlahan (+). Operator terbagi banyak jenis, umumnya operator yang digunakan itu adalah operator aritmatika, operator relasional, operator assignment

### Operator Aritmatika

Operator aritmatika adalah yang paling umum digunakan. Bahasa pemrograman Python menyediakan operator aritmatika yang melakukan penjumlahan, pengurangan, perkalian, dan pembagian. Cara kerjanya sama seperti matematika dasar.

Ada tujuh operator aritmatika yang dapat kita gunakan untuk melakukan berbagai operasi matematika, seperti:
- (+)(Penjumlahan)
- (-)(Pengurangan)
- (*) (Perkalian)
- (/) (Pembagian)
- (//) (Pembagian dibulatkan ke bawah)
- (℅) (Modulus)
- (**) (Pangkat)

#### Penjumlahan
Ini menjumlahkan dua atau lebih operand dan memberikan hasilnya sebagai jumlah. Dalam istilah sederhana, ini melakukan penjumlahan dua atau lebih nilai dan memberikan hasilnya sebagai jumlah. Operator penjumlahan diliambangan dengan simbol `+`

In [43]:
x = 10
y = 20
print(x + y)

30

Juga, kita bisa menggunakan operator penjumlahan dengan string, dan itu akan menjadi penggabungan string.

In [44]:
first_name = "Mahdy"
last_name = "Al Akbar"
print(first_name + " " + last_name)

Mahdy Al Akbar

#### Pengurangan
Digunakan untuk mengurangi nilai kedua dari nilai pertama dan memberikan selisih antara keduany. Operator pengurangan dilambangkan dengan simbol `-`.

In [45]:
x = 50
y = 20
print(x - y)
print(y - x)

30
-30

#### Perkalian
Mengalikan dua operand. Dalam istilah sederhana, ini digunakan untuk mengalikan dua atau lebih nilai. Operator perkalian dilambangkan dengan simbol `*`.

In [46]:
a = 8
b = 3
c = 2
print(a * b)
print(a * b * c)

24
48

kita juga dapat menggunakan operator perkalian dengan string. Ketika digunakan dengan string, operator ini berfungsi sebagai pengulangan.

In [48]:
name = "Akbar"
print(name * 5)

AkbarAkbarAkbarAkbarAkbar

#### Pembagian
Membagi operand sebelah kiri (dividen) dengan operand sebelah kanan (penyebut) dan memberikan hasilnya dalam bentuk nilai float. Operator pembagian dilambangkan dengan simbol `/`.

In [49]:
x = 2
y = 4
z = 7

print(x/y)
print(x/y/z)

0.5
0.07142857142857142

In [51]:
x = 4
y = 4

z = x / y
print(z)
print(type(z))

1.0
<class 'float'>

#### Pembagian bulat
Pembagian bulat mengembalikan hasil pembagian di mana digit setelah titik desimal dihapus. Dalam istilah sederhana, ini digunakan untuk membagi satu nilai dengan nilai kedua dan memberikan hasil bilangan sebagai nilai bulat ke angka bulat terkecil berikutnya.

Cara kerjanya sama seperti operator pembagian, kecuali bahwa operator ini mengembalikan kemungkinan integer. Simbol `//` melambangkan operator pembagian bulat.

In [1]:
a = 3
b = 5
c = 2.2

# Pembagian normal
print(b/a)

# Pembagian bulat 
print(b//a)

# Pembagian normal
print(b/c)

# Pembagian bulat
print(b//c)

1.6666666666666667
1
2.2727272727272725
2.0

:

Ada yang tau kenapa `b//a` menghasilkan tipe dataa integer, sedangkan `b//c` menghasilkan tipe data float?

#### Modulus

Dalam istilah sederhana, operator modulus membagi satu nilai dengan nilai kedua dan memberikan sisa sebagai hasil. Simbol `%` melambangkan operator modulus

In [54]:
a = 12
b = 5
print(a%b)

2

#### Pangkat
Dalam istilah sederhana, operand sebelah kiri dipangkatkan dengan operand sebelah kanan. Operator pangkat dilambangkan dengan simbol dua tanda bintang `**`

In [56]:
number = 2
print(number**3)

8

### Operator Relasional

Operator relasional digunakan untuk membandingkan dua nilai atau variabel dan mengembalikan hasil dalam bentuk boolean (True atau False).

Terdapat 4 operator relasional yang dapat digunakan yaitu:
- Lebih besar dari `>`
- Lebih kecil dari `<`
- Sama dengan `==`
- Tidak sama dengan `!=`

#### Apa hasil dari operator relasional berikut:

In [57]:
a = 12
b = 4
c = 2

# > Lebih dari
print(a > b)

True

In [58]:
print(a > b > c)

True

In [59]:
# < Kurang dari
print(a < b)

False

In [60]:
print(b < a)

True

In [61]:

# == Sama dengan
print(a == b)

False

In [62]:
print(a == 12)

True

In [63]:

# != Tidak sama dengan
print(a != b)

True

In [64]:
print(12 != a)

# >= Lebih dari sama dengan

False

In [65]:
print(a >= b)

True

In [66]:
print(12 >= a)

True

In [67]:
# <= Kurang dari sama dengan
print(a <= b)

False

In [68]:
print(12 <= a)

True

### Operator Assignment
Operator Assignment digunakan untuk menetapkan nilai ke variabel. Operator ini mengambil nilai dari operand di sisi kanan dan menugaskannya ke variabel di sisi kiri. Beberapa operator penugasan yang umum digunakan dalam Python adalah sebagai berikut:
- Menetapkan nilai `=`
- Menambahkan nilai dan menetapkannya `+=`
- Mengurangi nilai dan menetapkannya `-=`
- Mengalikan nilai dan menetapkannya `*=`
- Membagi nilai dan menetapkannya `/=`
- Pangkat nilai dan menetapkannya `**=`
- Modulus nilai dan menetapkannya `%=`
- Pembagian bulat kebawah dan menetapkannya `//=`

#### Apa hasil dari operator Assignment berikut:

In [70]:
a = 4
b = 2

a += b
print(a)

# Logika penyelesaiannya sama
a = 4
b = 2
a = a + b
print(a)

6
8

In [72]:
a = 4
a -= 2
print(a)

2

In [73]:
a = 4
a *= 2
print(a)

8

In [74]:

a = 4
a /= 2
print(a)

2.0

In [75]:
a = 4
a **= 2
print(a)

16

In [76]:
a = 5
a %= 2
print(a)

1

In [77]:
a = 4
a //= 2
print(a)

2